@import url("test2.css") screen;
@import url(https://fonts.googleapis.com/css2?family=Bungee+Spice);

@font-palette-values --Alternate {
  font-family: "Bungee Spice";
}

.alternate {
  font-palette: --Alternate;
}

@font-face {
    font-family: MyHelvetica;
    src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold");
    font-weight: bold;
}
@font-feature-values Font One {
    @styleset {
        nice-style: 12;
    }
}
.nice-look {
    font-variant-alternates: styleset(nice-style);
    background-color: var(--bs-bg-primary);
    height: calc(100vh - 50px);
}
@page {
    margin: 1cm;
}
@property --property-name {
    syntax: "<color>";
    inherits: false;
    initial-value: #c0ffee;
  }